@font-face {
    font-family: "main_text";
src: url(../../../asset/font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
    font-family: "sub_text";
    src: url(../../../asset/font/Afacad_Flux/AfacadFlux-VariableFont_slnt,wght.ttf);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    list-style-type: none ;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --bg-color:#FCFAEE;
    --2nd-bg-color:#4A9D4f;
    --sub-bg-color: #005720 ;
 
    --1st-text-color: #005720 ;
    --2nd-text-color: rgb(53, 53, 53);
    --3rd-text-color: #FCFAEE;
   
    --btn-color: #F5E402;
    
    --other-color :rgb(0, 183, 255);
}
body{
    background-color: var(--bg-color);
    background-repeat: no-repeat;
    background-size: cover;
}
.h1{
    font-size: 1.5rem;
    font-family: "sub_text";
    color: #005720;
    margin-left: -20px;
    font-weight: 500;
}
form{
    
    padding:  0px;
}
form .main_div_blotter{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  
}
form input, select{
    width: 210px;
    height: 20px;
    padding: 5px 5px 5px 10px;
    margin-top: 0px ;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    color: #4A9D4f;
    border: 1px solid #005720;
}
form input:focus,select:focus,textarea:focus{
    outline: #4A9D4f 3px solid;
}
form label{
    font-size: 1.2rem;
    font-family: "sub_text";
    color: #005720;
}
form textarea{
    width: 95%;
    height: 200px;
    border-radius: 4px;
    border: none;
    padding: 10px;
    font-size: 1.5rem;
    color: #005720;
    font-family: "sub_text";
    margin-top: 10px ;
    margin-bottom: 10px;
    border: #005720 1px solid;
}
form .div_2nd{
 
    padding-left: 30px;
}
form .div_2nd .div{
   color: #005720;
   font-family: "sub_text";
    font-size: 1rem;
    padding-left: 0px;
    margin-top: 20px;
    line-height: 80px;


    
}
form .div_2nd .div input{
    height: 10px;
    padding: 10px;
    font-size: 1rem;
    color: #005720;
    background-color: transparent;
    border: none;
    border-radius: 1px;
    border-bottom: 2px solid var(--2nd-bg-color);
    width: 100%;
}
form .div_2nd .div input:focus{
    outline: none;
}
form .div_3rd{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
form #save{
    background-color: var(--2nd-bg-color);
    color: var(--bg-color);
    width: 200px;
    height: 30px;
    cursor: pointer;
    border: none;
    margin-left: 20px;
}
form #save:focus{
    outline: none;
}
form #reset{
    background-color: red;
    color: var(--bg-color);
    width: 200px;
    height: 30px;
    cursor: pointer;
    border: none;
}
form #reset:focus{
    outline: none;
}

