@font-face {

    font-family: "main_text";

    src: url(../../../asset/font/Syncopate/Syncopate-Regular.ttf);

}

@font-face {

    font-family: "sub_text";

    src: url(../../../asset/font/Afacad_Flux/AfacadFlux-VariableFont_slnt,wght.ttf);

}

*{

    margin: 0px;

    padding: 0px;

    box-sizing: content-box;

    list-style-type: none ;

}

html {

    scroll-behavior: smooth;

  }

:root{

    --bg-color: #FCFAEE;

    --2nd-bg-color:#4A9D4f;

    --sub-bg-color: #005720 ;

 

    --1st-text-color: #005720 ;

    --2nd-text-color: rgb(53, 53, 53);

    --3rd-text-color: #FCFAEE;

   

    --btn-color: #F5E402;



    --other-color :rgb(0, 183, 255);

}







.form{

    

    height:max-content;

    background-color: #ebebeb9c;

    padding-bottom: 100px;

    width: 80%;

    margin-left: 80px;

    margin-top: 20px;

    border-radius: 4px;

    padding: 40px;

    box-shadow: 10px 10px 10px rgba(39, 30, 30, 0.062);

    transition: all 0.5s;

  }

  .sidebar.active ~ .dashboard_content .form{

   

    margin-left: -30px;

  }

  .form .personal_info h3{

    font-size: 1.6rem;

    font-family: "sub_text";

    color: var(--2nd-bg-color);

  }

  .form .personal_info h5{

    font-size: 1rem;

    font-family: "sub_text";

    color: #00572079;

    margin-bottom: 20px;

  }

  .profile{

    display: flex;

    justify-content: space-between;

    height: max-content;

    padding-bottom: 30px;

    padding-top: 20px;

    margin-top: 20px;

  }

  .profile h1{

   color: #005720;

    align-items: center;

    margin-left: 70px;

    font-size: 1.5rem;

    font-family: "sub_text";

  }

 

  .profile img{

    width: 250px;

    height: 250px;  

    margin-right: 500px;

    border-radius: 4px;

  

  }

  .profile input{

    margin-top: 20px;

    margin-left: 180px;

    border: 2px solid #4a9d506c;

    padding: 5px;

    border-radius: 4px; 

  }

  

  .container {

    display: grid;

      grid-template-columns: auto auto;

}

.label_div{

  display: grid;

  align-items: center;

  margin-left: 70px;

  font-size: 1.5rem;

  font-family: "sub_text";



  margin-top: 0px;



}



.label_div label{

  margin-top: 20px;



  color: var(--1st-text-color);

  font-size: 1.2rem;

}

.input_div{

  display: grid;

  

  align-items: center;

  margin-left: -200px;

}

.input_div input{

  margin-top: 10px;

  width: 250px;

  height: 40px;

  padding-left: 20px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

  margin-left: 50px;

}

.input_div select{

  margin-top: 10px;

  width: 250px;

  height: 40px;

  padding-left: 20px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

 margin-left: 50px;

}

.input_div input:focus{

 outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

.input_div select:focus{

  outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

#submit{

  padding: 10px;

  background-color: var(--other-color);

  margin-left: 60px;

  margin-top: 50px;

  width: 100px;

  border-radius: 4px;

  border: none;

  color: var(--bg-color);

  cursor: pointer;

}

#submit:hover{

  background-color:rgb(85, 206, 253) ;

}



.contact{

    margin-top: 30px;

    font-size: 1.5rem;

    font-family: "sub_text";

    color: #005720;

    margin-bottom: 20px;

}

hr{

    margin-bottom: 20px;

}



@media only screen and (min-width: 320px ){





  .form{

    

    height:max-content;

    background-color: #ebebeb9c;

    padding-bottom: 100px;

    width: 75vw;

    margin-left: 10px;

    margin-top: 10px;

    border-radius: 4px;

    padding: 20px;

    box-shadow: 10px 10px 10px rgba(39, 30, 30, 0.062);

    transition: all 0.5s;

    margin-left: -190px;

  }

  .sidebar.active ~ .dashboard_content .form{

   

    margin-left: 40px;

  }

  .form .personal_info h3{

    font-size: 0.8rem;

    font-family: "sub_text";

    color: #005720;

  }

  .form .personal_info h5{

    font-size: 0.8rem;

    font-family: "sub_text";

    color: #00572079;

    margin-bottom: 20px;

  }

  .profile{

    display: flex;

    justify-content: space-between;

    height: max-content;

    padding-bottom: 30px;

    padding-top: 20px;

    margin-top: 20px;

  }

  .profile h1{

   color: #005720;

    align-items: center;

    margin-left: 0px;

    font-size: 1rem;

    font-family: "sub_text";

  }

  .profile .img{

    

    

  } 

  .profile img{

    width: 150px;

    height: 100px;  

    margin-right: 300px;

    border-radius: 4px;

    border: 1px solid #005720;

  }

  .profile input{

    margin-top: 20px;

    margin-left: 70px;

    border: 2px solid #4a9d506c;

    padding: 3px;

    border-radius: 4px;

    width: 35vw;

  }

  

  .container {

    display: grid;

      grid-template-columns: auto auto;

}

.label_div{

  display: grid;

  align-items: center;

  margin-left: 0px;

  font-size: 1rem;

  font-family: "sub_text";





}

.label_div .label_label{

  display: grid;

  align-items: center;

  height: max-content;

  margin-top: 30px;

 

}

.label_div .label_label label{

  margin-top: 30px;

}

.label_div label{

  margin-top: -10px;

  color: var(--1st-text-color);

  font-size: 1rem;

}

.input_div{

  display: grid;



  align-items: center;

  width: max-content;

  margin-left: 0px;

}

.input_div input{

  margin-top: 10px;

  width: 40vw;

  height: 30px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

  margin-left: 20px;

}

.input_div select{

  margin-top: 10px;

  width: 40vw;

  height: 30px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

 margin-left: 20px;

}

.input_div input:focus{

 outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

.input_div select:focus{

  outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

#submit{

  padding: 10px;

  background-color: var(--other-color);

  margin-left: 0px;

  margin-top: 30px;

  width: 30vw;

  border-radius: 4px;

  border: none;

  color: var(--bg-color);

  cursor: pointer;

}

#submit:hover{

  background-color:rgb(85, 206, 253) ;

}



.contact{

    margin-top: 30px;

    font-size: 1rem;

    font-family: "sub_text";

    color: #005720;

    margin-bottom: 20px;

}

hr{

    margin-bottom: 20px;

}

}

@media only screen and (min-width: 481px ){

  

  .form{

    

    height:max-content;

    background-color: #ebebeb9c;

    padding-bottom: 100px;

    width: 75vw;

    margin-left: 10px;

    margin-top: 10px;

    border-radius: 4px;

    padding: 20px;

    box-shadow: 10px 10px 10px rgba(39, 30, 30, 0.062);

    transition: all 0.5s;

    margin-left: -180px;

  }

  .sidebar.active ~ .dashboard_content .form{

   

    margin-left: 40px;

  }

  .form .personal_info h3{

    font-size: 0.8rem;

    font-family: "sub_text";

    color: #005720;

  }

  .form .personal_info h5{

    font-size: 0.8rem;

    font-family: "sub_text";

    color: #00572079;

    margin-bottom: 20px;

  }

  .profile{

    display: flex;

    justify-content: space-between;

    height: max-content;

    padding-bottom: 30px;

    padding-top: 20px;

    margin-top: 20px;

  }

  .profile h1{

   color: #005720;

    align-items: center;

    margin-left: 0px;

    font-size: 1rem;

    font-family: "sub_text";

  }

 

  .profile .img{

    width: 300px;

    height: 200px;  

    margin-right: 600px;

    border-radius: 4px;

    border: 1px solid #005720;

   

  }

  .profile input{

    margin-top: 20px;

    margin-left: 90px;

    border: 2px solid #4a9d506c;

    padding: 3px;

    border-radius: 4px;

    width: 40vw;

  }

  

  .container {

    display: grid;

      grid-template-columns: auto auto;

}

.label_div{

  display: grid;

  align-items: center;

  margin-left: 0px;

  font-size: 1rem;

  font-family: "sub_text";



}

.label_div label{

  margin-top: -10px;

  color: var(--1st-text-color);

  font-size: 1rem;

}

.input_div{

  display: grid;



  align-items: center;

  width: max-content;

  margin-left: 0px;

}

.input_div input{

  margin-top: 10px;

  width: 40vw;

  height: 30px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

  margin-left: 20px;

}

.input_div select{

  margin-top: 10px;

  width: 40vw;

  height: 30px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

 margin-left: 20px;

}

.input_div input:focus{

 outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

.input_div select:focus{

  outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

#submit{

  padding: 10px;

  background-color: var(--other-color);

  margin-left: 0px;

  margin-top: 30px;

  width: 30vw;

  border-radius: 4px;

  border: none;

  color: var(--bg-color);

  cursor: pointer;

}

#submit:hover{

  background-color:rgb(85, 206, 253) ;

}



.contact{

    margin-top: 30px;

    font-size: 1rem;

    font-family: "sub_text";

    color: #005720;

    margin-bottom: 20px;

}

hr{

    margin-bottom: 20px;

}

}

@media only screen and (min-width: 601px ){

  

  .form{

    

    height:max-content;

    background-color: #ebebeb9c;

    padding-bottom: 100px;

    width: 80vw;

    margin-left: 10px;

    margin-top: 10px;

    border-radius: 4px;

    padding: 20px;

    box-shadow: 10px 10px 10px rgba(39, 30, 30, 0.062);

    transition: all 0.5s;

    margin-left: -180px;

  }

  .sidebar.active ~ .dashboard_content .form{

   

    margin-left: 40px;

  }

  .form .personal_info h3{

    font-size: 0.8rem;

    font-family: "sub_text";

    color: #005720;

  }

  .form .personal_info h5{

    font-size: 0.8rem;

    font-family: "sub_text";

    color: #00572079;

    margin-bottom: 20px;

  }

  .profile{

    display: flex;

    justify-content: space-between;

    height: max-content;

    padding-bottom: 30px;

    padding-top: 20px;

    

  }

  .profile h1{

   color: #005720;

    align-items: center;

    margin-left: 0px;

    font-size: 1rem;

    font-family: "sub_text";

  }



  .profile .img{

    width: 300px;

    height: 200px;  

    margin-right: 600px;

    border-radius: 4px;

    border: 1px solid #005720;

   

  }

  .profile input{

    margin-top: 20px;

    margin-left: 160px;

    border: 2px solid #4a9d506c;

    padding: 3px;

    border-radius: 4px;

    width: 30vw;

  }

  

  .container {

    display: grid;

      grid-template-columns: auto auto;

}

.label_div{

  display: grid;

  align-items: center;

  margin-left: 0px;

  font-size: 1rem;

  font-family: "sub_text";



}

.label_div label{

  margin-top: -10px;

  color: var(--1st-text-color);

  font-size: 1rem;

}

.input_div{

  display: grid;



  align-items: center;

  width: max-content;

  margin-left: 0px;

}

.input_div input{

  margin-top: 10px;

  width: 40vw;

  height: 30px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

  margin-left: 20px;

}

.input_div select{

  margin-top: 10px;

  width: 40vw;

  height: 30px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

 margin-left: 20px;

}

.input_div input:focus{

 outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

.input_div select:focus{

  outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

#submit{

  padding: 10px;  

  background-color: var(--other-color);

  margin-left: 0px;

  margin-top: 30px;

  width: 20vw;

  border-radius: 4px;

  border: none;

  color: var(--bg-color);

  cursor: pointer;

}

#submit:hover{

  background-color:rgb(85, 206, 253) ;

}



.contact{

    margin-top: 30px;

    font-size: 1rem;

    font-family: "sub_text";

    color: #005720;

    margin-bottom: 20px;

}

hr{

    margin-bottom: 20px;

}

}

@media only screen and (min-width:  769px ){

  .form{

    

    height:max-content;

    background-color: #ebebeb9c;

    padding-bottom: 100px;

    width: 85vw;

    margin-left: 10px;

    margin-top: 10px;

    border-radius: 4px;

    padding: 20px;

    box-shadow: 10px 10px 10px rgba(39, 30, 30, 0.062);

    transition: all 0.5s;

    margin-left: -180px;

  }

  .sidebar.active ~ .dashboard_content .form{

   

    margin-left: 40px;

  }

  .form .personal_info h3{

    font-size: 1rem;

    font-family: "sub_text";

    color: #005720;

  }

  .form .personal_info h5{

    font-size: 1rem;

    font-family: "sub_text";

    color: #00572079;

    margin-bottom: 20px;

  }

  .profile{

    display: flex;

    justify-content: space-between;

    height: max-content;

    padding-bottom: 30px;

    padding-top: 20px;

    

  }

  .profile h1{

   color: #005720;

    align-items: center;

    margin-left: 0px;

    font-size: 1.4rem;

    font-family: "sub_text";

  }

 

  .profile .img{

 

      width: 300px;

      height: 200px;

      margin-right: 0px;

      border-radius: 4px;

      margin-left: 60px;

    

    

   

  }

  .profile input{

    margin-top: 20px;

    margin-left: 270px;

    border: 2px solid #4a9d506c;

    padding: 3px;

    border-radius: 4px;

    width: 30vw;

  }

  

  .container {

    display: grid;

      grid-template-columns: auto auto;

}

.label_div{

  display: grid;

  align-items: center;

  margin-left: 30px;

  font-size: 1rem;

  font-family: "sub_text";





}

.label_div label{

  margin-top: -10px;

  color: var(--1st-text-color);

  font-size: 1.2rem;

}

.input_div{

  display: grid;



  align-items: center;

  width: max-content;

  margin-left: 0px;

}

.input_div input{

  margin-top: 10px;

  width: 50vw;

  height: 40px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

  margin-left: 20px;

}

.input_div select{

  margin-top: 10px;

  width: 50vw;

  height: 30px;

  padding-left: 5px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

 background-color: rgb(245, 245, 245);

 color: #005720;

 margin-left: 20px;

}

.input_div input:focus{

 outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

.input_div select:focus{

  outline: #4A9D4f 2px solid;

 background-color: rgba(219, 219, 219, 0.507);

}

#submit{

  padding: 10px;  

  background-color: var(--other-color);

  margin-left: 0px;

  margin-top: 30px;

  width: 10vw;

  border-radius: 4px;

  border: none;

  color: var(--bg-color);

  cursor: pointer;

}

#submit:hover{

  background-color:rgb(85, 206, 253) ;

}



.contact{

    margin-top: 30px;

    font-size: 1.3rem;

    font-family: "sub_text";

    color: #005720;

    margin-bottom: 20px;

}

hr{

    margin-bottom: 20px;

}

}

@media only screen and (min-width:  1081px  ){

  



.form{

    

  height:max-content;

  background-color: #ebebeb9c;

  padding-bottom: 100px;

  width: 85%;

  margin-left: 50px;

  margin-top: 20px;

  border-radius: 4px;

  padding: 40px;

  box-shadow: 10px 10px 10px rgba(39, 30, 30, 0.062);

  transition: all 0.5s;

}

.sidebar.active ~ .dashboard_content .form{

 

  margin-left: -30px;

}

.form .personal_info h3{

  font-size: 1.6rem;

  font-family: "sub_text";

  color: var(--2nd-bg-color);

}

.form .personal_info h5{

  font-size: 1rem;

  font-family: "sub_text";

  color: #00572079;

  margin-bottom: 20px;

}

.profile{

  display: flex;

  justify-content: space-between;

  height: max-content;

  padding-bottom: 30px;

  padding-top: 20px;

  padding-right: 220px;



  width: max-content;



}

.profile h1{

 color: #005720;

  align-items: center;

  margin-left: 70px;

  font-size: 1.5rem;

  font-family: "sub_text";

}



.profile .img{

  width: 300px;

  height: 200px;

  margin-right: 300px;

  border-radius: 4px;

  margin-left: 200px;



}

.profile input{

  margin-top: 20px;

  margin-left: 120px;

  border: 2px solid #4a9d506c;

  padding: 5px;

  border-radius: 4px;

  width: 15vw;

}



.container {

  display: grid;

    grid-template-columns: auto auto;

}

.label_div{

display: grid;

grid-template-columns: auto;

align-items: center;

margin-left: 70px;

font-size: 1.5rem;

font-family: "sub_text";

margin-top: 50px;

}

.label_div .label_label{

  display: grid;

  align-items: center;

  height: max-content;
  
  margin-top:-10px;


 

}

.label_div .label_label label{

  margin-top: 35px;

 

}

.label_div  .label2 {

  margin-top: -50px;

}

.label_div label{

margin-top: 10px;

color: var(--1st-text-color);

font-size: 1.2rem;

}

.input_div{

display: grid;



align-items: center;

margin-left: -200px;

}

.input_div input{

margin-top: 10px;

width: 250px;

height: 40px;

padding-left: 20px;

font-size: 1rem;

border: 2px solid rgba(128, 128, 128, 0.144);

border-radius: 4px;

background-color: rgb(245, 245, 245);

color: #005720;

margin-left: 50px;

}

.input_div select{

margin-top: 10px;

width: 250px;

height: 40px;

padding-left: 20px;

font-size: 1rem;

border: 2px solid rgba(128, 128, 128, 0.144);

border-radius: 4px;

background-color: rgb(245, 245, 245);

color: #005720;

margin-left: 50px;

}

.input_div input:focus{

outline: #4A9D4f 2px solid;

background-color: rgba(219, 219, 219, 0.507);

}

.input_div select:focus{

outline: #4A9D4f 2px solid;

background-color: rgba(219, 219, 219, 0.507);

}

#submit{

padding: 10px;

background-color: var(--other-color);

margin-left: 60px;

margin-top: 50px;

width: 100px;

border-radius: 4px;

border: none;

color: var(--bg-color);

cursor: pointer;

}

#submit:hover{

background-color:rgb(85, 206, 253) ;

}



.contact{

  margin-top: 30px;

  font-size: 1.5rem;

  font-family: "sub_text";

  color: #005720;

  margin-bottom: 20px;

}

hr{

  margin-bottom: 20px;

}



}

/* Extra-Large Desktops: 1441px and up*/

@media only screen and (min-width: 1441px) {

  .form{

    

    height:max-content;

    background-color: #ebebeb9c;

    padding-bottom: 100px;

    width: 90%;

    margin-left: 50px;

    margin-top: 20px;

    border-radius: 4px;

    padding: 40px;

    box-shadow: 10px 10px 10px rgba(39, 30, 30, 0.062);

    transition: all 0.5s;

  }

  .sidebar.active ~ .dashboard_content .form{

   

    margin-left: -30px;

  }

  .form .personal_info h3{

    font-size: 1.6rem;

    font-family: "sub_text";

    color: var(--2nd-bg-color);

  }

  .form .personal_info h5{

    font-size: 1rem;

    font-family: "sub_text";

    color: #00572079;

    margin-bottom: 20px;

  }

  .profile{

    display: flex;

    justify-content: space-between;

    height: max-content;

    padding-bottom: 30px;

    padding-top: 20px;

  

 

    

  

  }

  .profile h1{

   color: #005720;

    align-items: center;

    margin-left: 70px;

    font-size: 1.5rem;

    font-family: "sub_text";

  }



  .profile .img{

    width: 400px;

    height: 300px;

    margin-right: 0px;

    border-radius: 4px;

    margin-left: 360px;

  

  }

  .profile input{

    margin-top: 20px;

    margin-left: 0px;

    border: 2px solid #4a9d506c;

    padding: 5px;

    border-radius: 4px;

    width: 400px;

  }

  

  .container {

    display: grid;

      grid-template-columns: auto auto;

  }

  .label_div{

  display: grid;

  align-items: center;

  margin-left: 70px;

  font-size: 1.5rem;

  font-family: "sub_text";

  margin-top: 50px;

  

  }

  .label_div  .label2 {

    margin-top: -50px;

  }

  .label_div label{

  margin-top: 10px;

  color: var(--1st-text-color);

  font-size: 1.2rem;

  }

 

  .input_div{

  display: grid;

  

  align-items: center;

  margin-left: -200px;

  }

  .input_div input{

  margin-top: 10px;

  width: 500px;

  height: 40px;

  padding-left: 20px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

  background-color: rgb(245, 245, 245);

  color: #005720;

  margin-left: 50px;

  }

  .input_div select{

  margin-top: 10px;

  width: 500px;

  height: 40px;

  padding-left: 20px;

  font-size: 1rem;

  border: 2px solid rgba(128, 128, 128, 0.144);

  border-radius: 4px;

  background-color: rgb(245, 245, 245);

  color: #005720;

  margin-left: 50px;

  }

  .input_div input:focus{

  outline: #4A9D4f 2px solid;

  background-color: rgba(219, 219, 219, 0.507);

  }

  .input_div select:focus{

  outline: #4A9D4f 2px solid;

  background-color: rgba(219, 219, 219, 0.507);

  }

  #submit{

  padding: 10px;

  background-color: var(--other-color);

  margin-left: 60px;

  margin-top: 50px;

  width: 100px;

  border-radius: 4px;

  border: none;

  color: var(--bg-color);

  cursor: pointer;

  }

  #submit:hover{

  background-color:rgb(85, 206, 253) ;

  }

  

  .contact{

    margin-top: 30px;

    font-size: 1.5rem;

    font-family: "sub_text";

    color: #005720;

    margin-bottom: 20px;

  }

  hr{

    margin-bottom: 20px;

  }

}

