@font-face {
    font-family: "main_text";
    src: url(../../../asset/font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
    font-family: "sub_text";
    src: url(../../../asset/font/Afacad_Flux/AfacadFlux-VariableFont_slnt,wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
    list-style-type: none ;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --bg-color: #FCFAEE;
    --2nd-bg-color:#4A9D4f;
    --sub-bg-color: #005720 ;
 
    --1st-text-color: #005720 ;
    --2nd-text-color: rgb(53, 53, 53);
    --3rd-text-color: #FCFAEE;
   
    --btn-color: #F5E402;

    --other-color :rgb(0, 183, 255);
}

.date_today{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 100px;
    font-family: "sub_text";
    font-size: 1.5rem;
    margin-top: 10px;
    color: #4A9D4f;
    transition: all 0.5s;
}
.sidebar.active ~ .dashboard_content .date_today{
    margin-left: -200px;
}
.date_today a{
    text-decoration: none;
    color: #4A9D4f;
    font-style: italic;
    font-size: 1.3rem;
}
#selected{
    
    background-color: var(--bg-color);
    color: var(--1st-text-color);
    font-weight: 600;
}
#selected svg{
    fill: #d4c603;

}
#selected .svg_arrow{
    fill: #d4c603;
    position: relative;
    left: 60px;
    top: 2px;
    transform: rotate(0deg);
   
}

.nav_list .sub_certification_folder {
    padding: 10px 5px 10px 50px;
    text-align: left;
    font-size: 2rem;
}

.nav_list .sub_certification_folder #manage,.nav_list .sub_certification_folder #revenue {
    padding: 5px;
    letter-spacing: 2px;
    margin-top: 5px;
    text-align: "sub_text";
    border: none;
    background-color: transparent;
    font-size: 0.8rem;
    color: var(--bg-color);
    cursor: pointer;
   
}
.nav_list .sub_certification_folder #requested {
    padding: 5px;
    letter-spacing: 1px;
    margin-top: 5px;
    text-align: "sub_text";
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.8rem;
    color: var(--bg-color);
   
}

.nav_list .sub_certification_folder #requested:hover,.nav_list .sub_certification_folder #manage:hover{
    color: var(--btn-color);
}
body{
    background-color: var(--bg-color);
    background-repeat: repeat;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    
}

.sidebar{
    height: 100vh;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #005720;
    padding: 6px 14px;
    transition: all 0.5s ease;
    
}
.sidebar.active{
   width: 20px;
}

.nav_list h3{
    font-family: "main_text";
    color: var(--bg-color);
    font-size: 0.7rem;
    padding-bottom: 10px;
   
}
.nav_list {
    margin-bottom: 100px;
}
.sidebar.active .nav_list h3{
    display: none;
}
.nav_list li a svg {
    height: 20px;
}

.sidebar .logo_content .logo{
    color: var(--bg-color);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    padding: 10px;
}
.sidebar.active .logo_content .logo{
    opacity: 0;
    pointer-events: none;
}
.logo_content .logo img{
    width: 65px;
    margin-right: 10px;
}
.logo_content .logo .logo_name{
    font-family: "main_text";
    font-weight: 600;
}

.sidebar #btn_menu svg{
    fill: var(--bg-color);
    position: absolute;
    left: 90%;
    top: 20px;
   width:38px;
   height: 38px;    
   text-align: center;
   line-height: 50px;
   transform: translate(-50%);
   cursor: pointer;
}
.sidebar #btn_menu svg:hover{
    fill: var(--btn-color);
}
.sidebar.active #btn_menu svg{
    left: 50%;
}
.sidebar ul{
    margin-top: 10px;
}
.sidebar ul li{
   position: relative;
   height: 50px;
   list-style: none;
   line-height: 50px;
   
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 130px;
    top:50%;
    transform: translateY(-100%);
    height: 35px;
    width: 122px;
    background-color: var(--bg-color);
    line-height: 35px;
    text-align: center;
    box-shadow: 10px 10px 10px rgba(26, 53, 8, 0.315);
    transition: 0s;
    opacity: 0;
    pointer-events: none;
    font-family: "sub_text";
    border-radius: 8px;
   
    
}
.sidebar.active ul li .tooltip{
    left: 10px;
    z-index: 999;
    height: 35px;
    width: 115px;
    font-size: medium;
    display: none;
}
.sidebar ul li:hover .tooltip{
    top:50%;
    transition: all 0.5 ease;
    opacity: 1;
}
.sidebar ul li a{
    color: var(--bg-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 10px;
    font-family: "sub_text";
    font-weight: 300;
    width: 110%;
 }
 .sidebar.active ul li a{
    width: 40px;
    margin-left: -10px;
    color: rgba(255, 0, 0, 0.37);
 }
 .sidebar .link_name{
    opacity: 1;
    pointer-events: none;
 }
 .sidebar.active .link_name{
    display: none;
 }
 .sidebar ul li a:hover{
    background-color: #134629;
    color: #F5E402;
    margin-left: -10px;
 }
 .sidebar ul li a svg{
  height: 16px;
  min-width: 50px;
  fill: #dddddda9;
  
 }
 .sidebar ul li a .svg_arrow{
    fill: #dddddda9;
    position: relative;
    left: 60px;
    top: 2px;
    transform: rotate(90deg);
 }
 .sidebar.active ul li a svg{
    margin-left: -25px;
    padding: 20px;
 }
 .sidebar.active ul li a svg:hover{
    fill: #F5E402;
 }

.dashboard_content{
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 240px;
    
    
}
.dashboard_content .text{
    font-size: 1rem;
    font-weight: 500;
    color: #F5E402;
    margin: 20px 0px 0px 40px;
    font-family: "main_text";
    font-weight: 700;
    transition: all 0.5s ease;
    background-color: #0da117;
    padding: 20px 20px 20px 20px;
    margin-top: 3px;
    width: 92%;
    border-radius: 6px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5rem;
}

.dashboard_content .text .setting{
    display: flex;
    justify-content: space-around;
    width: max-content;
  
    align-items: center;
    font-size: 0.6rem;
}
.dashboard_content .text .setting  .dropdown-content{
    background-color: rgba(216, 216, 216, 0.904);
    width: 12%;
    position: absolute;
    top: 40px;
    right: 30px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 10px 10px 10px rgba(54, 54, 54, 0.253);
    display: none;
    cursor: default;
    z-index: 99;
    font-size: 0.7rem;
}
.dashboard_content .text .setting  .dropdown-content a, .dashboard_content .text .setting  .dropdown-content a{
    width: 200px;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-top: 10px;
    text-decoration: none;
    color: #134629;
    font-family: "sub_text";
    font-family: 200;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.dashboard_content .text .setting  .dropdown-content a svg{
    width: 20px;
    margin-right: 10PX;
}

.dashboard_content .text .svg:hover .dropdown-content{
    display: block;
}
.dashboard_content .text .setting img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.dashboard_content .text .setting .svg svg{
    width: 20px;
    fill: #f5e502af ;
    cursor: pointer;

    margin-right: 10px;
 
    
}
.dashboard_content .text .setting .svg a svg:hover{
    fill: red;
}
.dashboard_content .text .setting p{
   text-align: center;
   margin-bottom: 4px;
   font-size: 0.9rem;
    
}
.dashboard_content img {
    width: 50%;
    height: 200px;
    margin-left: 25%;

}
.sidebar.active ~ .dashboard_content .text .setting{
    margin-right: 130px;
}
.sidebar.active ~ .dashboard_content .text{
    margin-left: -180px;
    width: 100vw;
}
.dashboard_content #validation_update{
    animation-name: validation;
    animation-duration: 1s;
    font-family: sans-serif;
    position: absolute;
    background-color: rgb(226, 15, 0);
    right: 10px;
    top: 20px;
    padding: 5px;
    height: 100px;
    width: 20vw;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 1px 20px #1841061f;
    display: none;
}
@keyframes validation {
    from {opacity: 10%;}
    to {opacity: 100%;}
  }
  .dashboard_content #validation_update p{
    color: var(--bg-color);
    font-size: 20px;
    margin-top: 0px;
    padding: 20px;
    font-family: "sub_text";
 }
.closebtn{
    width: 30px;
    margin-right: -1px;
    margin-top: 2px;
    color: rgb(119, 2, 2);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: var(--sub-bg-color);
  }
