@font-face {
    font-family: "main_text";
    src: url(../asset/font/Syncopate/Syncopate-Regular.ttf);
}
@font-face {
    font-family: "sub_text";
    src: url(../asset/font/Afacad_Flux/AfacadFlux-VariableFont_slnt,wght.ttf);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: content-box;
}
html {
    scroll-behavior: smooth;
  }
:root{
    --bg-color:#FCFAEE;
    --2nd-bg-color:#4A9D4f;
    --sub-bg-color: #005720 ;
 
    --1st-text-color: #005720 ;
    --2nd-text-color: rgb(53, 53, 53);
    --3rd-text-color: #FCFAEE;
   
    --btn-color: #F5E402;

    --other-color :rgb(0, 183, 255);
}


#validation{
    animation-name: validation;
    animation-duration: 1s;
    font-family: sans-serif;
    position: absolute;
    background-color: rgb(226, 15, 0);
    right: 10px;
    top: 25px;
    padding: 5px;
    height: 100px;
    width: 20vw;
    justify-content: center;
    align-content: center;
    box-shadow: 1px 1px 20px #1841061f;
     display: none;
     border-radius: 10px;
 }

 @keyframes validation {
    from {opacity: 10%;}
    to {opacity: 100%;}
  }
 #p_validation {
    color: var(--bg-color);
    font-size: 17px;
    font-family: "sub_text";
 }
.closebtn{
    width: 30px;
    margin-right: -1px;
    margin-top: 2px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.closebtn:hover {
    color: black;
  }
  body::before{
    opacity: 10%;
  }
body{
    background-image: url("../asset/image/background/admin_bg/circle-scatter-haikei (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
   
}

.header{
    background-color: var(--2nd-bg-color);
    width:100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px; 
    box-shadow: #63636338 10px 10px 10px;
}
.header h1{
    font-family: "main_text";
    padding-right: 550px;
    font-size: 1.5rem;
}
.header img{
    margin-left: 100px;
    width: 80px;
}
#main{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
    animation-name: example;
    animation-duration: 1.5s ;
    padding-left: 100px;
    padding-right: 100px;
}
/* The animation code */
@keyframes example {
    from {margin-top: 50%;
        opacity: 0;}
    to {opacity: 1;}
  }
  #main div h4{
    width: 300px;
    margin-top: 70px;
    font-family: "sub_text";
    line-height: 30px;
    text-align: justify;
    width: 500px;
    font-size: 1.3rem;
    color: var(--1st-text-color);
}

#main .sub_main_div{
    background-color: var(--1st-text-color);
    width: fit-content;
    padding: 30px 50px 40px 50px;
    border-radius: 4px;
    box-shadow: 10px 20px 10px #5858585e;
} 
#main form{
    width: fit-content;
   
    border-radius: 4px;
    color: #FCFAEE;
    
}
#main .div_registration{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main .div_registration button{
    width: 100%;
    display: flex;
   border-radius: 20px;
    margin-top: 30px;
    padding: 3px;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    background-color: #FEFCD4;
    border: none;
}
#main .div_registration button:hover{
    background-color: #fcf8af;
}
#main .div_registration button span{
    color: #005720;
    font-weight: 900;
}
#main .div_registration button svg{
    width: 25px;
    fill: #005720;
}
#main h1{
   margin-bottom: 20px;
    font-family: "main_text";
    color:#FCFAEE;
    text-align: center;
    border-radius: 2px;
    font-size: 2rem;
    font-weight: 1000;
    
}
#main form div{
    width: fit-content;
    background-color: var(--2nd-bg-color);
    padding: 30px 30px 20px 30px;
    

}
#main form input{
    width: 20vw;
    height: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color:#FCFAEE;
    border: none;
    outline: none;
    color: var(--1st-text-color);
    border-radius: 2px;
}
#main form input:focus{
    outline: #f7ec5681 solid 4px;
}
#main form #checkbox{
    width: 24px;
    margin-right: 5px;
    cursor: pointer;
}
#main form #checkbox:focus{
    outline: none;
}
#main form #check_span{
    font-family: "sub_text";
    font-size: 12px;
    color: #fcfaeec9;
    letter-spacing: 1px;
}
#main form label{
    font-family: "sub_text";
    font-size: 1rem;
    color: #FCFAEE;
    font-style: normal;
    letter-spacing: 3px;

}
#main h1 span svg{
    width: 50px;
    position: relative;
    top: 10px;
    fill: #FCFAEE;
    margin-right: 15px;
}

#main span svg{
    width: 25px;
    position: relative;
    top: 5px;
    fill: #FCFAEE;
}

#main button h3{
    color: #ad9f06;
    margin-top: 20px;
    font-size: 0.7rem;
    font-weight: 200;
    letter-spacing: 1px;
}

#main div h2{
    width: 200px;
    font-family: "sub_text";
    line-height: 30px;
    text-align: left;
    
    font-size: 1.5rem;
  
    color: var(--1st-text-color);
}

#main #submit{
    background-color: var(--btn-color);
    color: #005720;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}
#main #submit:focus{
  outline: none;
}





.modal_blotter {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow-y: scroll; /* Enable scroll if needed */
    background-color: rgb(153, 0, 0); /* Fallback color */
    background-color: rgba(58, 58, 58, 0.548); /* Black w/ opacity */
    animation-name: background ;
    animation-duration: 0.7s; 
    display: none;
  }
  /* Modal Content/Box */
  .modal-content_blotter {
    background-color: rgb(235, 235, 235);
    margin: 2% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    animation-name: down ;
    animation-duration: 0.7s; 
    border-radius: 8px;
    
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  @keyframes background {
    from {
        opacity: 10%;
    }
    to {opacity: 100%;}
  }
  @keyframes down {
    from {
        margin-top: -20%;
    }
    to {opacity: 100%;}
  }
.registration_h1 svg {
    width: 40px;
    margin-right: 10px;
    fill: #4A9D4f;
}
.registration_h1, h2{
    font-family: "sub_text";
    color: #4A9D4f;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form_registration .item1{
    display: grid;
    grid-template-columns: auto auto auto;

}
.form_registration .item1 label{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "sub_text";
    color: #005720;
    
}
.form_registration .item1 input{
    height: 30px;
    width: 200px;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
    padding-left: 5px;
}
.form_registration .item1 input:focus{
    outline: #4A9D4f 3px solid;
}
.form_registration .item2{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
}
.form_registration .item2 input{
    height: 30px;
    width: 200px;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
    padding-left: 5px;
  
}
.form_registration .item2 label{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "sub_text";
    color: #005720;
}
.form_registration .item2 select{
    font-size: 1.1rem;
    font-weight: 400;
    font-family: "sub_text";
    color: #005720;
    margin-top: 5px;
    padding-left: 5px;
    width: 200px;
    border: none;
    border-radius: 4px;
    height: 30px;
    
}
.form_registration .item2 select:focus{
    outline: #4A9D4f 3px solid;
}
.form_registration .item2 input:focus{
    outline: #4A9D4f 3px solid;
}

.form_registration .item3{
    display: grid;
    grid-template-columns: auto;

}
.form_registration .item3 label{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: "sub_text";
    color: #005720;
    
}
.form_registration .item3 input{
    height: 30px;
    width: 400px;
    border-radius: 4px;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
}
.form_registration .item3 input:focus{
    outline: #4A9D4f 3px solid;
}

.form_registration .item4{
    display: flex;
    justify-content: space-evenly;

}

.form_registration .item4 input{
    font-size: 1rem;
    padding: 5px;
    width: 120px;
    color: var(--bg-color);
    cursor: pointer;
}
.form_registration .item4 #submit_btn{
    background-color: #4A9D4f;
    
}
.form_registration .item4 #reset{
    background-color: rgb(0, 183, 255);
}
.form_registration .item4 #submit_btn:focus{
    outline: solid 3px #4A9D4f;
}
.form_registration .item4 #reset:focus{
    outline: solid 3px  rgb(69, 197, 248);
}






  
  /* The message box is shown when the user clicks on the password field */
  #message {
    display: none;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: -20px;
  }
  #message h3{
    margin-bottom: 10px;
    font-size: medium;
    letter-spacing: 1px;
    font-family: sans-serif;
    color: var(--2nd-bg-color);
    text-align: left;
  }
  #message p {
    text-align: left;
    font-size: 18px;
    font-size: medium;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin-left: 50px;
    padding-top: 1px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(45, 192, 45);
  }
  
  .valid::before {
    position: relative;
    left: -35px;
    content: "✔";
  }


  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: rgb(218, 15, 0);
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }



  #btn_confirm {
    display: none;
    position: relative;
    bottom: 40px;
    background-color: black;

  } 
    .valid_confirm {
      color: rgb(2, 148, 2);
    }
    
    
  .invalid_confirm {
    color: blue;
  }
  

